<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837580173613-lur09meeo9q7hj9m3q2tq2rpldvjnqq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837580173613-lur09meeo9q7hj9m3q2tq2rpldvjnqq1</string>
	<key>API_KEY</key>
	<string>AIzaSyAESAC5zedeaRZb7EcIMm7BjIx7OOeYa8w</string>
	<key>GCM_SENDER_ID</key>
	<string>837580173613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learning.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>edspert-a3faa</string>
	<key>STORAGE_BUCKET</key>
	<string>edspert-a3faa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837580173613:ios:1ed40564ada1cce071e3a4</string>
</dict>
</plist>